
client {
  enabled = true
}

consul {
  # The address to the Consul agent.
  address = "${CONSUL_ADDRESS}"

  # The service name to register the server and client with Consul.
  server_service_name = "nomad-server"
  client_service_name = "nomad-client"

  # Enables automatically registering the services.
  auto_advertise = true

  client_auto_join = true
    
  token = "${CONSUL_BOOTSTRAP_TOKEN}"
}

ports {
  http = 5656
  rpc  = 5657
  serf = 5658
}

advertise {
  # Defaults to the first private IP address.
  http = "${ADVERTISE_HTTP}"
  rpc  = "${ADVERTISE_RPC}"
  serf = "${ADVERTISE_SERF}" # non-default ports may be specified
}

plugin "raw_exec" {
    config {
        enabled = true
    }
}
