server = false
## UI configuration (1.9+)



addresses {
  grpc = "${ADDRESS_GRPC}"
  http = "${ADDRESS_HTTP}"
  dns = "${ADDRESS_DNS}"
}
recursors = ["1.1.1.1"]
# ---- COMM ENCRYPTION ----
verify_incoming = false
verify_outgoing = true
verify_server_hostname = true
ca_file = "${CONSUL_CONFIG_DIR}/consul-agent-ca.pem"
auto_encrypt = {
  tls = true
}

# ---- ACL ----
acl {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
  tokens {
    agent  = "${AGENT_TOKEN}"
  }

}



